In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [5]:
fruit=pd.read_table("fruit_data_with_colors.txt")
fruit.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [9]:
nhan=dict(zip(fruit.fruit_label.unique(),fruit.fruit_name.unique()))
nhan

{1: 'apple', 2: 'mandarin', 3: 'orange', 4: 'lemon'}

In [13]:
moi=fruit.fruit_label.unique()
moi

array([1, 2, 3, 4], dtype=int64)

In [22]:
#tach mau dau vao 
X=fruit[["mass","width","height"]]
y=fruit["fruit_label"]
#vi du nay su dung 75-25 
#x viet hoa la mang 2 chieu , ky hieu nhan-y thi viet thuong , THƯỜNG LÀ một chiều hoặc vô hướng
#tham số ngẫu nhiên cung cấp  giá trị hạt giống cho bên trong bộ tạo số ngẫu nhiên của hàm nha ,
# tac dung randon : chia ngẫu nhiên dữ liệu làm việc và kiểm tra
X_train  , X_test ,y_train,y_test = train_test_split(X,Y,random_state=0)

In [23]:
X_train.shape[0]

44

In [21]:
X_train.head()

    mass  width  height
42   154    7.2     7.2
48   174    7.3    10.1
7     76    5.8     4.0
14   152    7.6     7.3
32   164    7.2     7.0

In [24]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)

In [25]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [28]:
knn.score(X_test,y_test)

0.5333333333333333

In [36]:
fruit_predict=knn.predict([[20,4.3,5.5]])
nhan[fruit_predict[0]]

'mandarin'